.main {
  display: flex;
  height: 100vh;
}

.leftSection {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSection {
  width: 66.67%;
  background-color: #0f0f16;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}